body {
    margin: 0;
    padding: 0;
    background-color: #05050a;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    overflow: hidden;
    cursor: crosshair;
    background: radial-gradient(circle at center, #0a0a1a 0%, #05050a 100%);
    background-attachment: fixed;
}

body::before {
    content: "";
    position: absolute;
    top: -50px; left: -50px; right: -50px; bottom: -50px;
    background-image: 
        radial-gradient(1px 1px at 20px 30px, #fff, rgba(0,0,0,0)),
        radial-gradient(1px 1px at 40px 70px, #fff, rgba(0,0,0,0)),
        radial-gradient(2px 2px at 100px 150px, rgba(255,255,255,0.5), rgba(0,0,0,0));
    background-size: 200px 200px;
    opacity: 0.3;
    z-index: 0;
    transition: transform 0.1s ease-out;
}

#ui-layer {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
    
    opacity: 0.05; 
    transition: opacity 0.5s ease;
}

#ui-layer.active, 
#ui-layer:hover {
    opacity: 1;
}

#ui-layer.idle button {
    filter: grayscale(1);
}
#ui-layer:hover button {
    filter: grayscale(0);
}

button {
    padding: 10px 18px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    font-weight: 600;
    transition: 0.2s;
    text-align: left;
    cursor: pointer;
    pointer-events: auto;
}

button:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(-5px);
}

#firework-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    user-select: none;
}

#dynamic-text {
    font-size: clamp(3rem, 12vw, 10rem);
    font-weight: 600;
    font-family: "Vibur", sans-serif;
    letter-spacing: 8px;
    margin: 0;
    
    color: rgba(255, 255, 255, 0.02);
    text-shadow: none;
    transition: color 2s ease, text-shadow 2s ease;
    user-select: none;
}

#dynamic-text.neon-hit {
    color: #fff;
    transition: none;
    
    text-shadow: 
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px var(--neon-color),
        0 0 70px var(--neon-color),
        0 0 80px var(--neon-color),
        0 0 100px var(--neon-color);
}
